.header_table

  height: 50px
  width: 100%

  .resize-slider
    width: 3px
    background-color: #555

  table
    width : 100%
    height: 100%
    border-collapse: collapse
    overflow: hidden
    table-layout: fixed

  th

    .widget
      width: 100%
      height: 100%

  th

    border-right : solid 1px #999
    //border-left : solid 1px #999
    padding: 0px
    font-family: Arial
    font-size  : 12px
    font-weight: bold
    height: 100%
    background-image: url(/images/bg.png)
    //background-color: #C4DEFF
    background-color: #123454
    color : #fff

    table.tbl-column-header

      width: 100%
      height: 100%

      td
        padding: 0
        margin: 0
        border: none

      td.column-title
        word-wrap: break-word
        padding-left: 7px
        line-height: 20px
        vertical-align: middle
        font-weight: bold
        font-size: 13px
        overflow: hidden
        //text-shadow: 0px 0px 5px #fff

      td.column-resizer-container

        height: 100%
        width: 5px

        .column-resizer
          width: 5px
          height: 100%
          cursor: e-resize
          background-color: red
          position: relative
          left: 1px
          z-index: 999

